<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>IPC Video Stream</title>
</head>
<body>
  <video id="video" controls autoplay></video>

  <script>

    const video = document.getElementById("video");
    const ws = new WebSocket("ws://localhost:8080/stream");

    ws.binaryType = "arraybuffer"; // 바이너리 데이터 수신
    ws.onmessage = (event) => {
      const blob = new Blob([event.data], {type: "video/mp2t"});
      const url = URL.createObjectURL(blob);
      video.src = url;
    }
  </script>
</body>
</html>